<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.firebaseex1">

<!--알람 설정-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirebaseEx1"
        tools:ignore="ExtraText">
        //실행시 제일 먼저 실행되는 activity
        <activity android:name=".AppmainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewuserinformActivity" />
        <activity android:name=".EnteruserinformActivity" />
        <activity android:name=".AfterEnterCar" />

        <!--알람 설정-->
<!--        <receiver android:process=":remote" android:name=".Alarm"></receiver>-->
    </application>

</manifest>